<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xuchengpu.fragmentdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".testeventbus.TestEventBusActivity">
       <!-- <activity android:name=".testreplace.view.ReplaceOrHideActivity">-->

            <!-- <activity android:name=".testlife.view.DynamicActivity"> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".testlife.view.StaticActivity" />
        <activity android:name=".testlife.view.DynamicActivity" />
        <!-- <activity android:name=".testreplace.view.ReplaceOrHideActivity"></activity> -->
        <!--<activity android:name=".testeventbus.TestEventBusActivity"></activity>-->
    </application>

</manifest>